Tests effectués :[resumé des tests]
